.down{
  width: 20px;
  height: 20px;
  background-color: red;
}

.up{
  width: 20px;
  height: 20px;
  background-color: greenyellow;
}

.inline{
  display: inline;
}

.my-button{
  background-color: #3664d6;
  color: white;
}

.my-button:hover {
  background-color: #6496DC ;
}

.my-delete-button{
  background-color: #ad0f12;
  color: white;
}

.my-delete-button:hover {
  background-color: #ce484d;
}

.right{
  float: right;
}

.margin-appareil{
  margin-bottom: 18px;
}
